.second-box-component .live-tv {
  position: relative;
  width: 500px;
  height: 350px;
  background-size: cover;
  margin-top: -50px;
  margin-bottom: 200px;
}

.second-box-component .live-tv::after {
  content: "";
  background: url("../../../Images//live-tv1.png");
  width: 120%;
  height: 120%;
  left: 20px;
  top: 30px;
  position: absolute;
  z-index: 10;
}
.second-box-component .live-tv video {
  position: absolute;
  top: 26%;
  left: 21%;
  width: 484px;
  height: 340px;
  z-index: 5;
}
