.main-nav-bar .select select{
  border: #fff 1px solid;
  margin-right: 25px;
  background: none;
  color: #fff;
  padding: 5px;
  color: #fff;
}
.main-nav-bar .select select option{
  background-color: #c5c5c5;
}